<!-- Navigation-->
<nav class="navbar navbar-expand-lg text-uppercase navbar-shrink fixed-top"id="mainNav" style="padding:0px;height:45px;">
    <div class="container">
        <a class="navbar-brand" href="#page-top"><img src="../assets/img/navbar-logo.svg" alt="..."
                (click)="page=1" /></a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1 d-f mouseon"><a class="nav-link py-3 px-0 px-lg-3 h4" href="#portfolio"
                        (click)="page=2" style="color:rgb(255, 255, 255);margin-top:5px;">作品預覽</a></li>
                <li class="nav-item mx-0 mx-lg-1 mouseon"><a class="nav-link py-3 px-0 px-lg-3 rounded h4" href="#about"
                        (click)="page=3" style="color:rgb(255, 255, 255);margin-top:5px;">展場資訊</a></li>
                <li class="nav-item mx-0 mx-lg-1 mouseon"><a class="nav-link py-3 px-0 px-lg-3 rounded h4" href="#member"
                        (click)="page=4" style="color:rgb(255, 255, 255);margin-top:5px;">畢籌人員介紹</a></li>
                <li class="nav-item mx-0 mx-lg-1 mouseon"><a class="nav-link py-3 px-0 px-lg-3 rounded h4" href="#contact"
                        (click)="page=5" style="color:rgb(255, 255, 255);margin-top:5px;">聯絡我們</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead" *ngIf="page==1" style="padding:400px;">
    <div class="container">
        <div class="masthead-subheading opacity-75">元智資訊傳播系第二十五屆畢業展覽</div>
        <a class="btn btn-primary btn-xl text-uppercase opacity-75" href="/portfolio">敬請期待</a>
    </div>
</header>
<!--Section-->
<section class="page-section" *ngIf="page==2" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">作品預覽</h2>
            <h3 class="section-subheading text-muted">畢業製作的視覺圖</h3>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <div class="slider_container">
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/1.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 1</span>
                        </div>
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/2.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 2</span>
                        </div>
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/3.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 3</span>
                        </div>
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/4.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 4</span>
                        </div>
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/5.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 5</span>
                        </div>
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/6.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 6</span>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/white.png" />
                    </div>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">影視動畫類</div>
                        <div class="portfolio-caption-subheading text-muted">film</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <div class="slider_container">
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/1.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 1</span>
                        </div>
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/2.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 2</span>
                        </div>
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/3.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 3</span>
                        </div>
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/4.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 4</span>
                        </div>
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/5.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 5</span>
                        </div>
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/6.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 6</span>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/white.png" />
                    </div>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">遊戲類</div>
                        <div class="portfolio-    caption-subheading text-muted">animation</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <div class="slider_container">
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/1.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 1</span>
                        </div>
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/2.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 2</span>
                        </div>
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/3.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 3</span>
                        </div>
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/4.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 4</span>
                        </div>
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/5.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 5</span>
                        </div>
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/6.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 6</span>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/white.png" />
                    </div>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">互動投影類</div>
                        <div class="portfolio-caption-subheading text-muted">game</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <div class="slider_container">
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/1.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 1</span>
                        </div>
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/2.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 2</span>
                        </div>
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/3.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 3</span>
                        </div>
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/4.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 4</span>
                        </div>
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/5.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 5</span>
                        </div>
                        <div>
                            <img class="img-fluid" src="assets/img/portfolio/6.jpg" alt="pure css3 slider" />
                            <span class="info">Image Description 6</span>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/white.png" />
                    </div>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">行銷類</div>
                        <div class="portfolio-caption-subheading text-muted">Interactive projection</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section" *ngIf="page==3" id="about" >
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">展場資訊</h2>
            <h3 class="section-subheading text-muted">實體展覽的詳細資訊</h3>
        </div>

        <div class="row text-center">

            <div class="text-center">
                <h2 class="section-heading text-uppercase">5月14~16日</h2>
                <h2 class="section-heading text-uppercase">松山文化園區4號倉庫</h2>
            </div><!--
            <div class="text-center" style="margin-top:100px;">
                <h2 class="section-heading text-uppercase" style="font-size:3rem;">交通方式</h2>
            </div>
            <div class="text-center" style="margin-top:100px;">
                <h2 class="section-heading text-uppercase" style="font-size:3rem;">內部地圖</h2>
            </div>
            Section-->
        </div><!--
        <div class="text-center" style="margin-top:100px;">
            <h2 class="section-heading text-uppercase" style="font-size:3rem;">防疫須知</h2>
            <h3 class="section-subheading text-muted">配合政府防疫政策，入場參觀請配合以下事項：</h3>
        </div>--><!--
        <div class="row text-center">
            <div class="col-lg-4 col-sm-6">
                <div class="information">
                    <img class="mx-auto rounded-circle" src="assets/img/icon/1.png" alt="..." />
                    <h4 class="my-3">實名制</h4>
                    <p class="text-muted">以手機掃描QR code填寫實名制</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="information">
                    <img class="mx-auto rounded-circle" src="assets/img/icon/2.png" alt="..." />
                    <h4 class="my-3">戴口罩</h4>
                    <p class="text-muted">全程配戴口罩</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="information">
                    <img class="mx-auto rounded-circle" src="assets/img/icon/3.png" alt="..." />
                    <h4 class="my-3">量體溫</h4>
                    <p class="text-muted">配合測量體溫，超過37.5度謝絕入場</p>
                </div>
            </div>
        </div>
        <div class="text-center" style="margin-top:100px;">
            <h2 class="section-heading text-uppercase" style="font-size:3rem;">入場須知</h2>
            <h3 class="section-subheading text-muted">為維護本展覽品質，請於參觀時遵守以下事項，如有違反下列事項者，不得繼續於館內參觀：</h3>
        </div>--><!--
        <div class="row text-center">
            <div class="col-lg-4 col-sm-6">
                <div class="information">
                    <img class="mx-auto rounded-circle" src="assets/img/icon/4.png" alt="..." />
                    <h4 class="my-3">實名制</h4>
                    <p class="text-muted">嚴禁攜帶各類違禁及危險物品、液體、瓶罐等進入展場。</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="information">
                    <img class="mx-auto rounded-circle" src="assets/img/icon/5.png" alt="..." />
                    <h4 class="my-3">輕聲細語</h4>
                    <p class="text-muted">參觀時請輕聲細語、勿高聲談笑，或有滋擾影響其他遊客參觀之作為。</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="information">
                    <img class="mx-auto rounded-circle" src="assets/img/icon/4.png" alt="..." />
                    <h4 class="my-3">量體溫</h4>
                    <p class="text-muted">請勿追逐嬉戲、飲食、吸煙、倒臥座椅、就地而坐、脫鞋及拋棄紙屑、雜物。</p>
                </div>
            </div>
        </div>--><!--
        <div class="text-center" style="margin-top:100px;">
            <h2 class="section-heading text-uppercase" style="font-size:3rem;">活動流程</h2>
            <h3 class="section-subheading text-muted">精細設置的活動</h3>
        </div>-->
    </div>

</section>
<section class="page-section" *ngIf="page==4" id="member">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">畢籌人員介紹</h2>
            <h3 class="section-subheading text-muted">介紹畢業籌劃辛苦的各組長和組員們</h3>
        </div>
        <div class="row text-center">
            <div class="col-lg-4 col-sm-6">
                <div class="information">
                    <img class="mx-auto rounded-circle" src="assets/img/team/1.jpg" alt="..." />
                    <h4 class="my-3">行政組</h4>
                    <p class="text-muted">xxx</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="information">
                    <img class="mx-auto rounded-circle" src="assets/img/team/2.jpg" alt="..." />
                    <h4 class="my-3">美術組</h4>
                    <p class="text-muted">xxx</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="information">
                    <img class="mx-auto rounded-circle" src="assets/img/team/3.jpg" alt="..." />
                    <h4 class="my-3">活動組</h4>
                    <p class="text-muted">xxx</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section" *ngIf="page==5" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">聯絡我們</h2>
            <h3 class="section-subheading text-muted">提供您寶貴的意見</h3>
        </div>
        <div class="row text-center">
            <div class="col-lg-3 col-sm-2">
                <div class="contact">
                    <img class="mx-auto rounded-circle" src="assets/img/logos/1.svg" alt="..." />
                </div>
            </div>
            <div class="col-lg-3 col-sm-2">
                <div class="contact">
                    <img class="mx-auto rounded-circle" src="assets/img/logos/2.png" alt="..." />
                </div>
            </div>
            <div class="col-lg-3 col-sm-2">
                <div class="contact">
                    <img class="mx-auto rounded-circle" src="assets/img/logos/3.png" alt="..." />
                </div>
            </div>
            <div class="col-lg-3 col-sm-2">
                <div class="contact">
                    <img class="mx-auto rounded-circle" src="assets/img/logos/4.jfif" alt="..." />
                </div>
            </div>
        </div>
    </div>
</section>
<!--Footer-->
<div class="ooo"></div>
<div class="aaa"></div>